:root {
  --Red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

.otp-verification-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.otp-verification-box {
  width: 320px;
  max-width: 20rem;
  background: var(--Very-Light-Gray);
  box-shadow: 0 0.2rem 0.3rem hsl(212, 100%, 89%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}
.otp-verification-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
}
.card-blue::after {
  background-color: var(--Blue);
}
.title {
  text-align: center;
  line-height: 1.5;
  font-size: 1.876rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: var(--Very-Dark-Blue);
  text-transform: uppercase;
}
.logo-1 {
  background: var(--Blue);
  color: white;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border-radius: 50px;
}
.title-1 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
  color: var(--Very-Dark-Blue);
}
.otp-container {
  display: flex;
  justify-content: space-between;
  gap: 0.2rem;
}
.otp-container input {
  margin-right: 0px !important;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  outline: 2px solid transparent;
}
.otp-btn {
  background: var(--cyan);
  width: 100%;
  display: flex;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  color: white;
  border-radius: 0.25rem;
  outline: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
.spinner {
  margin-top: 0.25rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.phn-input {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

/* CHAT CONTAINER  */
.chatbot-section-container {
  background: #07263e;
  height: 85vh;
  padding: 1.5rem 3rem;
  position: relative;
  color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  vertical-align: middle;
  font-size: 1.1rem;
}
.gradient-01 {
  position: absolute;
  width: 200px;
  height: 238px;
  top: 0;
  background: #ca00ff;
  filter: blur(175px);
  z-index: 0;
}
.gradient-02 {
  position: absolute;
  width: 200px;
  height: 238px;
  top: -6rem;
  right: 0px;
  background: #35e7fe;
  filter: blur(190px);
  z-index: 0;
}
.chatbot-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0;
  letter-spacing: 1px;
}
.chatbot-body {
  height: 90%;
  overflow: auto;
  width: 100%;
  max-width: 56rem;
  padding: 2rem 1rem;
  align-self: center;
}
.chatbot-body::-webkit-scrollbar-thumb {
  background: #054550;
}
.chatbot-body::-webkit-scrollbar {
  width: 0.2rem;
}
.chatbot-body::-webkit-scrollbar-track {
  background: rgb(32, 32, 52);
}
.chatbot-input {
  width: 100%;
  max-width: 56rem;
  align-self: center;
}

/* CHAT BODY */
.chatbody-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.chatbody-box {
  border: 2px solid #999999;
  overflow-wrap: break-word;
  border-radius: 0.75rem;
  align-self: flex-end;
  padding: 0.25rem 0.75rem;
  max-width: 80%;
  line-height: 1.5;
}
.chatbox {
  white-space: pre-wrap;
}

/* CHAT INPUT */
.chatinput-container {
  width: 91.67%;
  margin: auto;
  background: white;
  max-height: 10rem;
  border-radius: 0.5rem;
  padding: 1rem;
  overflow: auto;
  position: relative;
}
.chat-text-input {
  border-width: 0px;
  background-color: transparent;
  outline: 2px solid transparent;
  width: 91.67%;
  font-size: 1.2rem;
}
.send-btn {
  position: absolute;
  top: 1rem;
  right: 0.75rem;
  cursor: pointer;
  transition-duration: 100ms;
  transition-timing-function: ease-in;
}
.send-btn:hover {
  transform: scale(1.25);
  cursor: pointer;
}

@media (max-width: 375px) {
  .otp-verification-box {
    width: 270px;
    max-width: 15rem;
  }
  /* .chatbot-input {
    width: 100%;
    max-width: 56rem;
    align-self: center;
  } */
}
